@import '../../styles/_colors.scss';

.product {
  list-style: none;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lighten($primary-color, 45%);
  border: 1px solid darken($primary-color, 10%);
  color: #222;
}

.product p {
  margin: 0;
  padding: 0 0.5rem;
}
