@import '../../../styles/_colors.scss';

.product {
  list-style: none;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border: 2px solid $primary-color;
  color: #222;
  gap: 16px;

  p {
    margin: 0;
    padding: 0 0.5rem;
    font-weight: bold;
  }

  img {
    max-width: 20%;
    height: auto;
  }
}
